.header {
  // position: absolute;
  // top: 62px;
  position: sticky;
  right: 0;
  z-index: 10;
  width: 100%;
  // padding: 0 10px 10px;
  .header-middle {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
  }
  .header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
}
.buttons {
  display: flex;
  gap: 10px;
  button {
    display: flex;
    align-items: center;
    border-radius: 2px !important;
  }

  .search {
    span {
      span {
        button {
          span {
            span {
              padding-left: 6px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    padding: 10px;
  }
}

@media (max-width: 800px) {
  .header {
    .header-bottom {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;

      .buttons {
        flex-wrap: wrap;
        width: 100%;
        button {
          // width: 100%;
          text-align: center;
        }
      }
    }
  }
}
